@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
/* -----------------------------------NAVBAR-------------------------------------- */
.body{
  font-family: 'Zen Loop' cursive !important;
}

.logo {
  
  width: 5.25rem;
  
}

nav ul li :hover{
  
  color: whitesmoke !important;
}

nav ul li {
  text-transform: uppercase;
}
.ml-auto {
  margin-left: auto !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:active:focus {
  border-top: 0.1875rem solid rgb(243, 238, 228);
}

nav {
    z-index:2; 
}

/* ----------------------------HEADER----------------------------------------- */

.header-wrapper {
  position: relative;
  background: url(back-image.jpg) no-repeat;
  background-size:cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  bottom:0;
  align-items: center;
  text-align: center;
  top:0;
  left:0;
  right:0;
    
 text-transform: uppercase;
}

.main-info h1 {
  
    color: black;
  margin-top: 0.02em;
  font-weight: bolder;
}

@media(max-width: 760px) {
    .main-info h1 {
        font-size: 1.5rem !important;
    }
    .typed-text {
        font-size: 1.3rem !important ;
    }
}

/* --------------------------TYPED TEXT --------------------- */
.typed-text {
    margin-top: 5%;
   font-size: 2rem;
   color:black;
   font-weight: bolder;
  
}

/* ----------------HEADER BUTTON ------------------------------ */

.btn-main-offer {
  border: 3px solid rgb(223, 76, 76) ;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.95px 0.90px 15px;
  color: whitesmoke;
  position:relative;
  text-align:center ;
  text-decoration: none;
  margin: 2rem;
}

.btn-main-offer:hover {
    text-decoration: none;
    background-color: red;
    color: azure;
    transition: .2s ease-in-out;
}

/* -----------------------------PARTICLES------------------------------- */

.tsparticles-canvas-el {
    position: absolute;
    height:50vh;
    width: 50vw;
    z-index: 1;
}

@media(max-width: 760px) {
    particles-canvas {
        display: none;
    }
}


/* -----------------------MY IMAGE--------------------- */

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid red;
}

.about-heading {
  color: black;
  text-transform: uppercase;
}

@media(max-width: 480px) {
  .profile-img {
    width: 10rem;
  }
}

/* ----------------------------------SERVICES -----------------------------*/

.services {
  text-align: center;
  padding-bottom: 1rem;
  background: rgb(238, 231, 231) ;
}

.services h1, h3{
  color:indigo;
  text-transform: uppercase;
}

/* ---------------------------ICON -------------------------------- */


.services .box {
  height: 10rem;
  border-bottom: 5px solid indigo;
  padding: .625rem;
  margin-bottom: 1.875rem;
} 

.services .icon {
  width: 3rem;
}

.services .box:hover h3{
  background: indigo;
  border-bottom: 5px solid rgb(233, 106, 21) ;
  color:white;
}


/* ----------------------------EXPERIENCE--------------------------------- */

.experience-wrapper {
  position: absolute;
  padding: 3.125rem ;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: indigo;
}

.experience-wrapper{
  position: inherit;
  content: "";
  top: 0;
  
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background-color: rgb(208, 180, 228);
  z-index:1;
}